{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories{% endblock %}

{% block body %}
    <h1 class="text-center pt-3 pb-3">Toutes les catégories</h1>
    <div class="row">
        <div class="container mb-5 col-10">
            <table class="table my-4">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <a class="nav-item nav-link text-light bg-dark m-1 col-3 text-center"
                           href="{{ path('category_show', {'id': category.id}) }}">Voir</a>
                        {% if is_granted('ROLE_AUTHOR') %}
                            <a class="nav-item nav-link text-light bg-dark m-1 col-3 text-center"
                               href="{{ path('category_edit', {'id': category.id}) }}">Editer</a>
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">Pas de catégorie trouvée</td>
                </tr>
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}
