{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories{% endblock %}

{% block body %}
    <h1 class="text-center pt-3 pb-3">Toutes les catégories</h1>

    {% for category in categories %}
        <div class="container mb-5">
            <a href="{{ path('category_show',{'id': category.id}) }}">
            <h5> * Categorie : {{ category.name }}</h5>
            </a>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}

{% endblock %}