<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% include 'navbar.html.twig' %}
{% if app.user %}
<h2 class = "text-center pt-3 pb-3 text-dark">Bonjour {{ app.user.email }} !<h2>
{% endif %}
{% block body %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
</body>
</html>
