{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur mon blog</h1>
    <br>
    <a href="{{ path('blog_index') }}">
        Voir tous les articles.
    </a>
    <br>
    <a href="{{ path('blog_show', { 'slug': "javascript-vs-php" }) }}">
        Voir l'article sur "javascript-vs-php".
    </a>

{% endblock %}